.main-content {
  width: 100%;

  .main-content__container-top-order {
    margin-top: 1.5rem;

    max-width: 910px;

    h1 {
      @include font(400, 2rem, none, center);
    }

    select {
      display: none;
    }
  }

  @media only screen and (min-width: 769px) {
    .main-content__container-top-order {
      @include flex(space-between, center);

      margin: 1.5rem auto;

      width: 100%;

      padding: 0 2.5rem;
      select {
        display: block;

        padding: 0.625rem;

        border: 1px solid $--gray-2;

        cursor: pointer;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    .main-content__container-sections {
      @include flex(space-between, normal);
      gap: 0.625rem;

      margin: 0 auto;

      padding: 0 2.5rem;

      max-width: 910px;
    }
  }

  .main-content__container-filters {
    @include flex(center, normal);
    flex-direction: column;
    gap: 0.625rem;

    width: inherit;

    .container-filters__filter-or-order {
      @include flex(center, center);
      flex-direction: column;
      gap: 1rem;

      margin: 1.5rem 0;

      .filter-or-order__actions {
        @include flex(center, center);
        border: 1px solid $--gray-2;

        width: 90%;

        button {
          padding: 0.625rem;

          width: 50%;

          @include font(400, 1rem, none, center);
        }

        .actions--filter {
          border-right: 1px solid $--gray-2;
        }
      }

      @media only screen and (min-width: 769px) {
        .filter-or-order__actions {
          display: none;
        }
      }

      .filter-or-order__container-filter,
      .filter-or-order__container-order {
        display: none;

        position: absolute;
        top: 0;

        width: 100vw;
        height: max-content;

        background-color: $--white;

        z-index: 1;

        .container-filter-header,
        .container-order-header {
          @include flex(space-between, center);

          width: inherit;

          padding: 1.5rem 0.75rem;

          border-bottom: 1px solid $--gray-2;

          h2 {
            @include font(400, 1.5rem, uppercase, center);
          }

          img {
            cursor: pointer;
          }
        }

        .container-filter__orders {
          .orders__options {
            h3 {
              @include font(400, 1.25rem, normal, left);

              cursor: pointer;

              padding: 1.5rem 0.75rem;

              transition: all 0.5s ease-in-out;
            }

            h3:hover {
              background-color: $--gray-3;
            }
          }
        }

        .container-filter__filters {
          padding: 0 0.75rem;

          .filters__color,
          .filters__price {
            .color-options,
            .price-options {
              display: none;

              .color-options__option,
              .price-options__option {
                margin: 1rem 0;

                input {
                  display: none;
                }

                label {
                  cursor: pointer;
                }

                label::before {
                  content: "";

                  display: inline-block;

                  height: 1rem;
                  width: 1rem;

                  box-sizing: border-box;

                  border: 1px solid $--black-1;

                  margin-right: 10px;

                  background-color: $--white;

                  vertical-align: middle;

                  transition: all 0.3s ease-in-out;
                }

                input:checked + label::before {
                  background-color: $--primary-color;
                  box-shadow: 0px 0px 0px 2px $--white inset;
                }
              }
            }
          }

          .size-options {
            display: none;

            width: 60%;

            .size-options__option {
              border: 1px solid $--gray-1;

              width: 2rem;
              height: 2rem;

              position: relative;
            }

            .size-options__option label {
              @include flex(center, center);

              background: #fff no-repeat center center;

              width: 100%;
              height: 100%;

              cursor: pointer;
            }

            span {
              z-index: 1;
            }

            input[type="checkbox"] {
              all: unset;

              position: absolute;

              width: 100%;
              height: 100%;

              top: 0;
              left: 0;
            }

            input[type="checkbox"]:checked {
              border: 1px solid $--primary-color;
            }

            span {
              color: $--black-1;

              @include font(normal, inherit, uppercase, center);
            }
          }

          .filters__container-title {
            @include flex(space-between, center);

            margin-top: 2rem;
            margin-bottom: 1rem;

            h3 {
              @include font(400, 1.25rem, uppercase, center);
            }

            img {
              width: 18px;
              height: 13px;
            }
          }

          .container__button {
            display: none;

            width: 100%;

            margin-bottom: 1.25rem;

            button {
              width: 50%;

              padding: 0.4rem 0;

              margin-top: 1rem;
            }

            .button__apply {
              background-color: $--primary-color;
              color: $--white;
            }

            .button__clean {
              border: 1px solid $--gray-2;
              color: $--black-1;
            }
          }

          @media only screen and (min-width: 769px) {
            .container__button {
              display: none;
            }
          }
        }
      }

      @media only screen and (min-width: 769px) {
        .filter-or-order__container-filter {
          @include flex(flex-start, center);

          position: inherit;

          height: inherit;

          z-index: 0;

          width: 100%;

          .container-filter-header {
            display: none;
          }

          .container-filter__filters {
            padding: 0;

            .filters__color,
            .filters__price {
              .color-options,
              .price-options {
                display: block;

                .color-options__option,
                .price-options__option {
                  input {
                    display: none;
                  }

                  label {
                    @include font(400, 0.875rem, none, center);
                  }
                }
              }
            }
            .size-options {
              display: block;

              width: 80%;

              .size-options__option {
                width: 1.5rem;
                height: 1.5rem;
              }

              span {
                @include font(400, 0.75rem, uppercase, center);
              }
            }
            .filters__container-title {
              h3 {
                @include font(400, 1rem, uppercase, center);
              }

              img {
                display: none;
              }
            }
          }
        }
      }
    }

    @media only screen and (min-width: 769px) {
      .container-filters__filter-or-order {
        align-items: flex-start;
        margin: 0;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    .main-content__container-filters {
      width: 30%;

      justify-content: flex-start;
    }
  }
  .main-content__showcase {
    @include flex(center, center);
    flex-direction: column;

    width: 100%;

    .showcase__container-products {
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1.25rem;

      max-width: 550px;

      padding: 0 1rem;

      margin-bottom: 1rem;

      width: 100%;

      .container-products__product {
        @include flex(space-between, center);
        flex-direction: column;
        gap: 0.625rem;

        animation: transitionProductShowCase 1s ease-in-out;

        .product__container-img {
          img {
            width: 150px;

            transition: all 0.5s ease-in-out;
          }
        }

        .product__name {
          @include font(500, 0.9rem, uppercase, center);
        }

        .product__buy {
          width: 100%;

          background-color: $--black-1;
          color: $--white;

          padding: 0.4rem 0;

          @include font(700, 0.9rem, uppercase, center);

          cursor: pointer;

          transition: all 0.5s ease-in-out;
        }

        &:hover .product__container-img {
          overflow: hidden;

          img {
            transform: scale(1.1);
          }
        }

        .product__buy:hover {
          background-color: $--gray-1;
        }
      }
    }

    .showcase_more {
      margin: 3rem 0;

      background-color: $--primary-color;
      color: $--white;

      padding: 0.4rem 1.25rem;

      @include font(700, 0.9rem, uppercase, center);

      cursor: pointer;

      transition: all 0.5s ease-in-out;
    }

    .showcase_more:hover {
      background-color: $--second-color;
    }

    @media only screen and (min-width: 769px) {
      .showcase_more {
        position: absolute;

        bottom: -30px;
        right: 38%;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    .main-content__showcase {
      justify-content: flex-start;

      margin: 2rem 0;

      position: relative;

      .showcase__container-products {
        gap: 1.5rem;

        margin-bottom: 6.25rem;

        .container-products__product {
          .product__name,
          .product__buy {
            @include font(500, 0.875rem, uppercase, center);
          }

          .product__price {
            @include font(bold, 0.875rem, none, center);
          }

          .product__parcel {
            @include font(500, 0.875rem, none, center);
          }
        }
      }
    }
  }
}

@keyframes transitionProductShowCase {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
