.container-footer {
  background-color: $--black-1;
  color: $--white;

  width: 100%;

  margin-top: auto;

  padding: 0.625rem;

  .container-footer__content {
    @include font(400, 0.875rem, uppercase, center);
  }
}
