.header-content {
  border-bottom: 2px solid $--gray-3;

  div {
    @include flex(space-between, center);

    margin: 0 auto;

    max-width: 910px;

    padding: 1.25rem 2.5rem;

    .container-img-logo__img {
      cursor: pointer;
    }

    .header-content__container-img-cart {
      position: relative;

      cursor: pointer;
    }

    .container-img-cart__circle {
      display: block;

      background-color: $--primary-color;
      color: $--white;

      border-radius: 50%;

      width: 12px;
      height: 12px;

      padding: 0;

      position: absolute;
      bottom: 0;
      left: 10px;

      @include font(normal, 0.625rem, normal, center);

      @include flex(center, center);
    }

    @media only screen and (min-width: 769px) {
      & {
        padding: 1.25rem 2.5rem;
      }
    }
  }
}
