$--primary-color: #00c0ee;
$--second-color: rgba(0, 192, 238, 0.8);

$--black-1: #000000;

$--gray-1: rgba(0, 0, 0, 0.5);
$--gray-2: #666666;
$--gray-3: #c7c7c7;

$--white: #fff;

$--toast-success: #07bc0c;
$--toast-error: #e74c3c;

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1;
  height: 100vh;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
