$--primary-color: #00c0ee;

$--black-1: #000000;

$--gray-1: rgba(0, 0, 0, 0.5);
$--gray-2: #666666;
$--gray-3: #c7c7c7;

$--white: #fff;

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
